:root {
  --hls-main-spacing: 18px;
}

html * {
  color: #000;
  font-family: monospace;
}

html {
  height: 100vh;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}
body > div {
max-width: 1500px;
margin-left: auto;
margin-right: auto;
}

main {
  flex-grow: 1;
  margin: 0 15px;
  padding:var(--hls-main-spacing);
}

a {
  color: rgb(142, 142, 255);
  text-decoration: none
}

header>ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

header {
  text-align: center;
  padding:var(--hls-main-spacing);
}

header>h1 {
  margin-bottom: 0;
}
header>h1>a {
  color:inherit;
}

footer {
  flex-shrink: 0;
  padding:var(--hls-main-spacing);
}